html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Bright', Georgia, serif;
    height: 100%;
   
    
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1;
   
}

footer {
    padding: 10px 0;
}

.copyright{
    color: rgba(0, 0, 0, 0.452);
}

.parallax {
    background-image: url("balança.jpg");   
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
}
#text-parallax{
    padding-top: 10em;
}
#text-parallax > h1{
    color: white;
    font-size: 4em;

}
#text-parallax > a{
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    text-decoration: none;
    margin-top: 5em;
}

.claras {
    background-color: rgb(185, 179, 169);
}

#cards:hover {
    cursor: pointer;
    color: rgb(65, 63, 63);
    text-decoration: underline;
   

}
#cards_box {
    background-color: rgb(133, 126, 114);
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    box-shadow: none;
    
}

#areas_button {
    background-color: rgb(133, 126, 114);
    color: rgba(0, 0, 0, 0.651);
   
}
#areas_button:hover {
    color: rgb(65, 63, 63);
    text-decoration: underline;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.651);
    
}

.filosofia {
    font-size: 1.5em;
}

.links_sociais {
    color: rgba(0, 0, 0, 0.651);
}
.links_sociais:hover {
    color: rgb(65, 63, 63);
    text-decoration: underline;
}

.cards_advogados{
    margin: 0em 30em;
}
.card_item {
    margin: 1em 0;
}
.card_item:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.card_item .btn_invertido.btn {
    margin-left: auto; /* Empurra o botão para a direita */
}
.socios {
    color: rgb(177, 162, 82);
}